<ion-view view-title="Cancellation">

  <ion-content class="cancellation_content">

    <div class="padding_bottom_20px">
      <h4>CANCELLATION POLICY</h4>

      <h5>You can place a cancellation request via email to info@mtt.co.in along with your order number.</h5>

      <h5>1. If your order has not shipped yet</h5>

      <p>If your order has not already been prepared for shipment, we will be more than happy to assist you in
        cancelling your order. You will be given a complete refund of product charges.</p>

      <h5>2. If your order has shipped</h5>

      <p>If your order has already been prepared for shipment or shipped, we are unable to cancel your order for
        you.</p>

      <p>Do not worry! You will be covered under our 30 days Money Back Guarantee. You are more than welcome to return
        the package to us for a full product refund. When the package arrives, please either reject the package and
        return to seller.</p>

      <p>Alternatively you ship the package back to us and inform your order number along with tracking numbers. There
        will be no cancellation charges and we will refund you full amount.</p>

      <p>Please make a note the package must not be opened and return request must be made within 30 days of purchase.
        Customer will be only given a Product Refund. Shipping & Handling will NOT be refunded.</p>

    </div>
  </ion-content>
</ion-view>
