<ion-view view-title="Cart" class="cart_view">

  <!--<ion-nav-buttons side="left">
    <button class="button button-clear font_aller_Regular" ng-click="goToPreviousPage()">Close</button>
  </ion-nav-buttons>-->
  <ion-nav-buttons side="right" ng-show="online">
    <button class="button button-clear font_aller_Regular" ng-click="editCart()"
            ng-show="allCartProducts.length > 0">Edit
    </button>
  </ion-nav-buttons>

  <ion-content class="cart_content">

    <div class="list" ng-show="online">
      <div class="item padding border_top_none" ng-if="allCartProducts.length > 0">
        <div class="row padding_zero">
          <div class="col-50 padding_top_5px font_12px font_aller_Regular">
            <div ng-if="showItemAdded">Your item was added.</div>
          </div>
          <div class="col-50 text-right">
            <button class="button button-small button-dark button-outline continue_shopping"
                    ng-click="continueShopping()">Continue Shopping
            </button>
          </div>
        </div>
      </div>
      <div class="item padding" ng-repeat="product in allCartProducts track by $index"
           ng-if="allCartProducts.length > 0">
        <div class="row padding_zero">
          <div class="col-25">
            <img ng-src="{{product.product_image}}" alt="" class="cart_list_img"/>
          </div>
          <div class="col-50 padding-horizontal">
            <h4 class="font_aller_Regular font_14px white_space_normal">{{product.product_title}}</h4>

            <p class="font_aller_Regular font_12px">
              COLOR : <span class="color_display"
                            style="background-color : {{product.selected_attributes[0].Color}}"></span>
            </p>
          </div>
          <div class="col-25 font_aller_Regular">
            <span class="font_12px color_88"><span ng-bind="product.quantity"></span> x</span>
            <span>&#8377;
              <span ng-if="product.discounted_price" ng-bind="product.discounted_price"></span>
              <span ng-if="!product.discounted_price" ng-bind="product.original_price"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="no_items_section text-center" ng-if="allCartProducts.length == 0">
        <div class="text">You haven't added any items to your cart.</div>
        <button class="button button-positive font_bold" ng-click="continueShopping()">Start Shopping</button>
      </div>
    </div>

    <div ng-show="!online" class="offline_cart">
      <div class="header">Sorry, your device is offline</div>
      <div class="desc">You are not connected to the Internet. Please connect and try again.</div>
    </div>

  </ion-content>

  <ion-footer-bar class="text-center border_none cart_page_footer" ng-if="allCartProducts.length > 0"
                  ng-show="online">
    <div class="width_100p">
      <div class="uppercase font_aller_Regular font_14px">
        sub total : <span>&#8377;</span> {{totalCartDiscountPrice}}
      </div>
      <div class="font_aller_Regular font_12px color_55">
        Your Savings: <span>&#8377;</span> {{totalCartOriginalPrice - totalCartDiscountPrice}}
      </div>
      <button class="button button-positive button-block text-center margin_zero"
              ng-click="goToShippingInformationPage()">Place order
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
