<ion-view view-title="Privacy Policy">

  <ion-content class="privacy_policy_content">
    <div class="padding_bottom_20px">
      <h5>Our Commitment to Privacy</h5>

      <p>The Policy is designed to assist you in understanding how we collect, use and safeguard the personal
        information
        you provide to us and to assist you in making informed decisions when using our site and our products and
        services. As we continue to develop our web site and take advantage of advances in technology, our privacy
        policy
        may change.</p>

      <h5>Online Account Registration</h5>

      <p>You may want to register with mtt.co.in to make shopping faster and easier. For non- registered users, we
        request
        account information (email address and password), and billing and shipping information. As a registered
        customer,
        you only have to enter your billing and shipping addresses and account information once; they will be securely
        stored in our database for your future use. Using your username and password you may access your account online
        at
        any time to add, delete or modify information. If you are using a computer at a public place, we encourage you
        to
        log out at the end of your session. Your information may be stored with us, but it will not be accessible to
        anyone else from that computer.</p>

      <h5>The Information Collected By mtt.com</h5>

      <p>When you shop with mtt.co.in, we obtain information we need to complete your transaction. This may include your
        name, shipping address, billing address, telephone number, credit/debit card number with expiration date and
        your
        email address. Under no circumstances do we ever share, sell or rent your personal information with outside
        parties.</p>

      <h5>How We Use The Information Collected</h5>

      <h5>Billing Information.</h5>

      <p>We use this information to confirm your credit/debit card information and to contact you if we have questions
        regarding your order. Your billing information may also be used for future MTT TELCOM print mailings such as MTT
        catalogs. You may request to be removed from our mailing list at anytime.</p>

      <h5>Shipping Information.</h5>

      <p>We use this information to ship the online order you had placed. Credit/Debit Card Information. We use this
        information to process your online order, and we may also need to provide this information to the company or
        companies who process your credit card payments.</p>

      <h5>Email Information.</h5>

      <p>After you place an order with mtt.co.in, you will receive an email confirmation that we have received your
        order.
        You will receive this email only if you have provided us with your correct email address.</p>

      <h5>Cookies And Their Use</h5>

      <p>Cookies are small data text files that your web browser stores on your computer when you visit some web sites.
        We
        use cookies to make your online shopping experience easier and more personalized, for instance, allowing you to
        retrieve an earlier shopping cart. Please note that your web browser must be set to accept cookies before you
        can
        place an order at mtt.com</p>
    </div>

  </ion-content>
</ion-view>
