<ion-view view-title="Reset Password" class="reset_pwd_view">
  <ion-content class="reset_pwd_content">
    <div class="">
      <form name="resetPwdForm" class="font_aller_Regular">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">New Password</span>
            <input type="password" placeholder="****" class="font_aller_Regular" ng-model="newUser.password"
                   required>
          </label>
          <label class="item item-input">
            <span class="input-label">Confirm Password</span>
            <input type="password" placeholder="****" class="font_aller_Regular" ng-model="newUser.confirmPassword"
                   required>
          </label>
        </div>
      </form>

      <div class="text-center padding_top_20px">
        <button class="button button-outline font_aller_bold uppercase reset_btn"
                ng-disabled="resetPwdForm.$invalid" ng-click="resetToNewPassword(newUser)">Reset Password
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
