<ion-view view-title="Returns">

  <ion-content class="returns_content">

    <div class="padding_bottom_20px">
      <h5>All products purchased directly from www.mtt.co.in are covered under our 30 Day Money Back Guarantee!</h5>

      <p>If you are not completely satisfied with your purchase, you are more than welcome to return the product(s) to us
        within 30 days for a full product refund, No Questions Asked.</p>

      <h5>Simply follow these easy steps! </h5>

      <p>1. Email us a Return Request at info@mtt.co.in with following content</p>

      <div>• Subject: RMA Request</div>

      <div style="margin: 0 0 10px;">• Message: Please make sure to include your Order # (provided in confirmation email)</div>

      <p>2. Our Customer Service Agents will provide you with an RMA form. Please fill it out!</p>

      <p>3. Ship back the product and RMA form for a full product refund. Our Returns Department will contact customers
        when the package has been safely received and processed at our facilities.</p>

      <p>4. MTT will refund full amount except any shipping charges or missing contents through the account which the
        original payment was received.</p>

      <p>5. Usually the refund is initiated within 7 days of receiving the returned products.</p>

      <h4>Requirements for Returns</h4>

      <p>Must include a valid original purchase order number provided by www.mtt.co.in (All purchases made outside of
        www.mtt.co.in must contact their seller regarding returns). Returned products must be in their original packaging
        without any missing contents. Returned products that are not in their original packaging with missing contents are
        subject to a minimum INT 400 restocking fee. Return shipping is at buyer's cost. Customer will be only given a
        Product Refund. Shipping & Handling will NOT be refunded.</p>

      <h4>Recommended</h4>

      <p>We suggest adding a tracking number/ delivery confirmation on returned packages to ensure that your return item
        is received. MTT Telcom is not liable for any Lost or Stolen return packages during transit/delivery.</p>

      <h4>Please Note</h4>

      <p>All Sale and Promotional Items are not eligible for Returns, Exchanges, or Warranties.</p>

    </div>
  </ion-content>
</ion-view>
