<ion-view view-title="Shipping & Payment">
  <ion-content class="shipping_payment_content">

    <div class="list">
      <div class="item item-icon-right" ng-click="changeState('app.shipping-addresses')">
        <h3>Addresses</h3>
        <i class="icon ion-chevron-right"></i>
      </div>
      <div class="item item-icon-right" ng-click="changeState('app.add-payment')" ng-show="false">
        <h3>Payment</h3>
        <i class="icon ion-chevron-right"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
