<ion-view view-title="Terms & Conditions">

  <ion-content class="terms_content">
    <div class="padding_bottom_20px">
      <h5>MTT 1-Year Warranty*</h5>

      <p>MTT offers a 1-year limited manufacturer warranty on a majority of MTT products. MTT products purchased from
        distributors or resellers are not covered by the 1 year warranty. Certain MTT products may have different
        warranties, which will be explicitly stated within this document. Examples of products with different warranties
        are, but not limited to, screen protectors, chargers, cables, and smartphone mounts. This warranty is only valid
        for items that are considered defected. Defects are defined as imperfections or flaws that are produced by a
        manufacturing error. Accidental drops, installation failures, normal wear and tear, etc. caused by the owner are
        not covered under this warranty.</p>

      <h5>MTT General Defect Warranty</h5>

      <p>All products listed below come with a 100-day general warranty*</p>

      <p>Portable Chargers</p>

      <p>Cables</p>

      <p>Glass Products</p>

      <p>Cases</p>
      *All terms and conditions for any and all warranties are subject to change under the sole discretion of MTT Telcom
      Private Limited

      <h5>MTT 30-Day Money Back Guarantee</h5>

      <p>All products purchased directly from MTT are covered by our 30-day money back guarantee. Visit “Our Returns
        Policy” for more information.</p>

      <h5>Who qualifies?</h5>

      <p>The MTT warranty is non-transferable and covers only the original end-buyer. Proof of purchase is required to
        qualify for the warranty. What qualifies?</p>

      <p>Only products that are purchased directly from MTT are eligible for this warranty as other sellers/channels may
        offer different or altered warranties. The warranty does not cover the following:</p>


      <p>Normal wear and tear from daily use of product</p>

      <p>Product was used for unintended purposes</p>

      <p>Misuse, mishandling, accident, or other abnormal use of product</p>

      <p>Damage caused by improper or unauthorized repair or maintenance</p>

      <p>Product is not genuine or not manufactured by MTT</p>

      <p>3rd party purchases are not covered under MTT warranties</p>

      <h5>How to submit a warranty:</h5>

      You must Ship or Mail back your original products with the Warranty Claims Form. To obtain the Warranty Claims
      Form,
      contact our customer support at info@mtt.co.in

      <p>Return the package to:</p>

      <p>MTT Telcom Private Limited, 701 Vakratunda Corporate Park, Goregaon (E), Mumbai, Maharashtra – India ,
        400063</p>


      <p>Including all of the information above in your package will help ensure prompt processing of your warranty
        claim.</p>

      <p>All of the shipping costs for sending back your case will be in the responsibility of the owner of the case.
        Any
        customs fees, including, but not limited to, taxes, duties and any other courier related fees are in the
        responsibility of the owner.</p>

      <p>We advise using a traceable shipping method to ensure safe delivery to MTT Telcom Private Limited. MTT is not
        liable for lost, stolen, or damaged shipments for returning packages.</p>

      <p>Once the product is received by MTT, we will inspect the product (within 7-10 business days of receipt on
        average) to determine if the product is covered under the limited warranty. If the product is determined to be
        covered under the Limited Warranty, MTT, under its judgment and discretion, will repair, replace, or recondition
        the product. MTT will pay for the shipment of any replacement parts or products under the limited warranty to
        remedy the defective product.</p>
    </div>

  </ion-content>
</ion-view>
